/* -----------------------------variables------------------------------------------- */

:root {
    --Black: hsl(0, 0%, 0%);
    --almostBlack: hsl(330, 10%, 4%);
    --almostBlackRGB: rgba(11, 9, 10, .5);
    --superDarkBlueGray: hsl(206, 14%, 10%);
    --mediumGray: hsl(5, 7%, 67%);
    --lightGray: hsl(0, 0%, 83%);
    --ligthLightGray: hsl(330, 9%, 96%);
    --white: hsl(0, 0%, 100%);
    --darkBoard: hsl(359, 87%, 21%);
    --darkBoardRGBA: rgba(100, 7, 9, .2);
    --boardRed: hsl(358, 76%, 36%);
    --red: hsl(359, 77%, 41%);
    --lightyRed: hsl(359, 77%, 56%);
    --green: hsl(120, 100%, 25%);
    --greenRGBA: rgba(93, 132, 93, 0.2);
}

/* -----------------------------------------resets-------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------------------------clases-------------------------------------------- */

.displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    background-color: var(--boardRed);
    margin: 0px auto;
    height: 100vh;
    
}

body > main {
    position: relative;
    margin: 5vh auto;
    width: 90%;
    height: auto;
    min-height: 90vh;
    display: flex;
}

/* ---------------------------*/
/* SECTION SEARCHPRODUCTS */

.searchProducts {
    width: 15%;
    min-width: 130px;
    background-color: var(--lightGray);
    transition: all .5s;
}

.searchProducts ul{
    list-style: none;
    width: 80%;
    margin: 0px auto;
}

/* SEARCHPRODUCTS CART */
.cart{
    flex-wrap: wrap;
    margin-top: 30px;
}

.cart img {
    width: 60px;
    margin-bottom: 5px;
}

.cart span {
    color: var(--ligthLightGray);
    font-size: 1rem;
    background-color: var(--boardRed);
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.menu img {
    min-width: 40px;
    display: none;
}

/* SEARCHPRODUCTS FORM */

.searchProducts form {
    width: 80%;
    margin: 70px auto 20px;
    position: relative;
}

.searchProducts form input {
    width: 100%;
    padding: 2px;
}

.searchProducts form label {
    position: absolute;
    top: 3px;
    right: 2px;
    font-size: 0.6rem;
}

/* ---------------------------*/
/* SECTION DISPLAYPRODUCTS*/

.displayProducts {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    padding: 20px;
    background-color: var(--ligthLightGray);
    
}

/* DISPLAYPRODUCTS prices */

.displayProducts .nav{
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.sectionPrices{
    width: 80%;
}

.prices{
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
}

.prices button{
    width: 140px;
    height: auto;
    margin: 5px auto;
    padding: 7px;
    color: var(--green);
    font-weight: bolder;
    border: 2px solid var(--green);
    border-radius: 5px;
    transition: all .5s;
}

.prices form{
    height: 45px;
    margin: 5px auto;
}

.prices form label{
    display: block;
    color: var(--green);
    font-weight: bolder;
}

.prices form select{
    padding: 2px;
    color: var(--green);
}


/* DISPLAYPRODUCTS ARTICLES*/

.displayProducts .bagsCards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bagsCards article {
    width: 30%;
    min-width: 180px;
    height: auto;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white);
    transition: all 0.5s;
}

.bagsCards article header {
    text-align: center;
    transition: all 0.5s;
}

.bagsCards article h2 {
    font-size: 1rem;
    padding: 5px;
}

.bagsCards article > main {
    width: 100%;
    height: 170px;
    position: relative;
    margin: 0;
}

.bagsCards article main div {
    width: 100%;
    
}

.heart,
.redHeart {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.redHeart {
    display: none;
}

.bagsCards article main img:first-child {
    display: block;
    height: auto;
    max-height: 150px;
    width: auto;
    max-width: 100%;
    margin: 20px auto;
    position: static;
}

.bagsCards article h3 {
    margin: 10px 0 0 15px;
    font-size: 0.8rem;
}

.bagsCards article h4 {
    font-size: 0.6rem;
    color: var(--red);
    margin: 7px 0 10px 15px;
    height: 10px;
}

.bagsCards article footer > div{
    height: 20px;
    padding: 0 15px;
}

.bagsCards article footer p {
    font-size: 0.6rem;
    opacity: 0;
    text-align: center;
    transition: all 0.5s;
}

.bagsCards article button {
    width: 110px;
    display: block;
    margin: 20px auto;
    background-color: var(--boardRed);
    color: var(--white);
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}

/* -------------------------------hoovers------------------------------------------ */
.prices button:hover{
    cursor: pointer;
    color: var(--red);
    border-color: var(--red);
    transform: scale(1.1);
}

.bagsCards article:hover {
    box-shadow: 2px 2px 7px var(--lightGray), -2px -2px 7px var(--lightGray);
    margin: 15px auto;
}

.bagsCards article:hover header {
    border-radius: 5px;
    padding: 3px;
    background-color: var(--lightGray);
    color: var(--boardRed);
}

.bagsCards article:hover p {
    opacity: 1;
    max-height: 100%;
}

.bagsCards article button:hover {
    background-color: var(--white);
    color: var(--boardRed);
    border: solid 2px var(--red);
    box-shadow: 2px 2px 2px var(--lightGray);
}



/* ----------------------------------------medias-------------------------------------- */

@media (max-width: 520px) {
    /* SECTION SEARCHPRODUCTS */
    .searchProducts {
        min-width: 65px;
        position: sticky;
        top: 0;
        left: 0;
    }

    .menu img {
        display: block;
        width: 15px;
        margin: 15px auto;
    }

    .searchProducts form, 
    .brands {
        display: none;
    }

    .sectionPrices form select{
        max-width: 100px;
    }

    .sectionCart *{
         margin-left: auto;
         margin-bottom: auto;
    }
    
}

/*------------------------------------------CART ------------------------------------------------- */


#close{
    width: 30px;
    display: block;
    margin: 20px 20px 0px auto;
}

.sectionCart{
    flex-wrap: wrap;
    background-color: var(--almostBlackRGB);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    position: absolute;
    top: 0vh;
    left: 0;
    z-index: 4;
}



.sectionCart .divCart{
    background-color: var(--ligthLightGray);
    width: 60%;
    min-width: 250px;
    padding-bottom: 10px;
    margin: 30px;
}

.sectionCart .divCart article{
    margin: 30px auto;
    border-bottom: 1px solid var(--lightGray);
    padding: 20px 40px 
}

.sectionCart .divCart .cartArticle{
    padding: 20px 30px;
}

.sectionCart .divCart .cartArticle div {
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.sectionCart .divCart .cartArticle *{
    margin: 10px;
}

.sectionCart .divCart .cartArticle button{
    width: 150px;
    margin-left: 20px;
}

.sectionCart .divCart img{
    width: 150px;  
}

.description p{
   font-size: 1rem;
}

.divCart .addSubstract{
    flex-direction: column;  
}

.sectionCart .divCart .addSubstract > div,
.sectionCart .divCart .addSubstract p{
    width: 100px;
    text-align: center;
}


.sectionCart .divCart .addSubstract > div span{
    font-size: 1rem;
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divCart .addSubstract > div span:nth-child(odd){
    background-color: var(--greenRGBA);
    color: var(--green);
    font-size: 1.5rem;
    border: 1px solid var(--green);
}

.sectionCart .divCart .addSubstract p{
    margin: 3px;
    color: var(--red);
    font-size: .8rem;
}


.sectionCart .divCart article:nth-last-of-type(2),
.sectionCart .divCart article:nth-last-of-type(1) {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sectionCart .divCart article:nth-last-of-type(2) p,
.sectionCart .divCart article:nth-last-of-type(1) p{
    margin: 10px;
    margin-left: 100px ;
}

.cartButtons > button,
.sectionCart .divCart .cartArticle button{
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: var(--boardRed);
    color: var(--ligthLightGray);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

.cartButtons .divCart .cartArticle button{
    width: 150px;
    background-color: var(--green);
    padding: 5px;
}

.divCart > button:hover,
.sectionCart .divCart .cartArticle button:hover{
    cursor: pointer;
    border: 5px double var(--lightGray);
    margin: 15px 20px;
}


@media (max-width: 690px) {
    .sectionCart .divCart{
        width: 90%;
    }

    .sectionCart .divCart .cartArticle div {
         justify-content: center;
         margin: 10px auto;
    }

    .sectionCart .divCart .cartArticle div p{
        width: 100%;
    }

    .sectionCart *{
        text-align: center;
    }

    .sectionCart .divCart article:nth-last-of-type(2),
    .sectionCart .divCart article:nth-last-of-type(1){
        justify-content: center;
    }

    .sectionCart .divCart article:nth-last-of-type(2) p,
    .sectionCart .divCart article:nth-last-of-type(1) p{
        width: 100%;
        margin: 10px auto;
    }

    .divCart .description div,
    .sectionCart .divCart .description p,
    .sectionCart .divCart .description h2{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }  
}